﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="bdb">
<head>
    <meta charset="utf-8" />
    <title>Challenges.Bdb</title>

    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="node_modules/ui-select/dist/select.css" rel="stylesheet" />

    <script src="node_modules/underscore/underscore.js"></script>
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-sanitize/angular-sanitize.js"></script>

    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="node_modules/ui-select/dist/select.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/IndexController.js"></script>
    <script src="scripts/serverApi.js"></script>
    <script src="scripts/issueDirective.js"></script>
</head>
<body>

    <!--TODO: move template to issue.html file. Currently have to keep it here in order to test it on file:// protocol-->
    <script type="text/ng-template" id="issue.html">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    {{issue.title||"(no name)"}}
                    <a ng-repeat="tag in issue.tags" class="badge pull-right" ng-click="filterBy(tag)">{{tag}}</a>
                </h4>
            </div>
            <div class="panel-body">
                <div ng-if="state=='display'" ng-click="edit()">
                    <pre ng-bind-html="issue.description"></pre>

                    <div class="pull-right">
                        <button ng-click="edit()" class="btn btn-xs btn-warning">Edit</button>
                        <button ng-click="delete()" class="btn btn-xs btn-danger">Delete</button>
                    </div>
                </div>

                <div ng-if="state=='edit'">
                    <div class="form-group">
                        <label class="control-label">Name:</label>
                        <input class="form-control" ng-model="editor.title" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description (html):</label>
                        <textarea class="form-control" ng-model="editor.description" />
                    </div>
                    <div class="form-group">
                        <ui-select multiple tagging tagging-label="" ng-model="editor.tags" class="form-control">
                            <ui-select-match placeholder="Select tags...">{{$item}}</ui-select-match>
                            <ui-select-choices repeat="tag in availableTags | filter:$select.search">
                                {{tag}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="pull-right">
                        <button ng-click="save()" class="btn btn-xs btn-primary">Save</button>
                        <button ng-click="cancel()" class="btn btn-xs btn-default">Cancel</button>
                    </div>
                </div>

                <div ng-if="state=='insert'">
                    <div class="form-group">
                        <label>New item: </label>
                        <input class="form-control" ng-placeholder="New item" ng-model="editor.title" placeholder="New item name"/>
                    </div>
                    <div class="form-group">
                        <label>Description (support HTML):</label>
                        <textarea class="form-control" ng-model="editor.description" placeholder="Item description" /> 
                    </div>
                    <div class="form-group">
                        <ui-select multiple tagging tagging-label="" ng-model="editor.tags" class="form-control">
                            <ui-select-match placeholder="Select tags...">{{$item}}</ui-select-match>
                            <ui-select-choices repeat="tag in availableTags | filter:$select.search">
                                {{tag}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="pull-right">
                        <button ng-click="save()" class="btn btn-xs btn-primary">Add item</button>
                        <button ng-click="cancel()" class="btn btn-xs btn-default">Reset</button>
                    </div>
                </div>
            </div>

        </div>
    </script>

    <div ng-controller="indexController">
        <div class="navbar navbar-default navbar-fixed-top">
            <span class="navbar-brand">Filter by:</span>
            <div class="navbar-form">
                <div class="form-group">
                    <button type="button" class="btn" ng-click="filterBy()" ng-class="{'btn-success':!activeFilter}">
                        Show all
                    </button>
                    <button type="button" class="btn" ng-class="{'btn-success':(activeFilter==tag)}"
                            ng-repeat="tag in availableTagsFilter"
                            ng-click="filterBy(tag)">
                        {{tag}}
                    </button>
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <issue ng-repeat="issue in issues track by issue.id">
                </issue>
                <issue state="insert" class="ng-scope"></issue>
            </div>
        </div>
    </div>
</body>

</html>